Mastodon.py>=2.0.0
atproto
pyinstaller
pyperclip
requests
wxpython
Pillow
prismatoid>=0.12
git+https://github.com/accessibleapps/keyboard_handler
git+https://github.com/accessibleapps/sound_lib
# Windows only
pyenchant ; sys_platform == 'win32'
