alt+win+shift+q=close
control+win+w=ToggleWindow
alt+win+n=Post
alt+win+left=prev_tl
alt+win+right=next_tl
alt+win+up=prev_item
alt+win+down=next_item
control+win+pageup=prev_item_jump
control+win+pagedown=next_item_jump
control+shift+win+pageup=PrevAccount
control+shift+win+pagedown=NextAccount
control+win+r=Reply
alt+win+e=Edit
control+win+shift+r=BoostToggle
alt+win+k=LikeToggle
control+win+b=BookmarkToggle
control+shift+win+b=BlockToggle
alt+win+q=Quote
alt+win+control+d=Message
alt+win+c=Conversation
alt+win+v=View
alt+win+[=Followers
alt+win+]=Following
alt+win+control+up=Volup
alt+win+control+down=Voldown
alt+win+return=Url
alt+win+;=SpeakUser
alt+win+shift+;=SpeakReply
alt+win+pageup=Prev
alt+win+u=UserTimeline
alt+win+shift+u=UserProfile
control+win+shift+u=UpdateProfile
alt+win+'=CloseTimeline
alt+control+win+u=refresh
alt+win+home=top_item
alt+win+end=bottom_item
alt+win+shift+return=PlayExternal
control+win+shift+return=StopAudio
control+win+shift+a=AudioPlayer
alt+win+delete=Delete
alt+win+o=Options
control+alt+win+o=AccountOptions
alt+win+shift+left=previous_from_user
alt+win+shift+right=next_from_user
alt+win+shift+up=previous_in_thread
alt+win+shift+down=next_in_thread
control+win+shift+c=Copy
alt+win+a=AddToList
alt+win+shift+a=RemoveFromList
alt+win+control+l=Lists
alt+win+control+t=CustomTimelines
control+alt+win+f=FilterTimeline
alt+win+/=Search
alt+win+shift+/=UserSearch
control+win+a=Accounts
alt+win+space=speak_item
alt+win+control+a=speak_account
control+alt+shift+win+return=PostUrl
alt+win+shift+e=Read
alt+win+shift+m=Mute
alt+win+l=FollowToggle
alt+win+shift+l=MuteToggle
alt+win+p=PinToggle
control+win+alt+m=ContextMenu
control+alt+win+v=ViewImage