alt+shift+q=close
control+alt+w=ToggleWindow
alt+n=Post
alt+left=prev_tl
alt+right=next_tl
alt+up=prev_item
alt+down=next_item
control+alt+pageup=prev_item_jump
control+alt+pagedown=next_item_jump
control+shift+alt+pageup=PrevAccount
control+shift+alt+pagedown=NextAccount
control+alt+r=Reply
alt+e=Edit
control+alt+shift+r=BoostToggle
alt+k=LikeToggle
control+alt+b=BookmarkToggle
control+shift+alt+b=BlockToggle
alt+q=Quote
alt+control+d=Message
alt+c=Conversation
alt+v=View
alt+[=Followers
alt+]=Following
alt+control+up=Volup
alt+control+down=Voldown
alt+return=Url
alt+;=SpeakUser
alt+shift+;=SpeakReply
alt+pageup=Prev
alt+pagedown=LoadHere
alt+u=UserTimeline
alt+shift+u=UserProfile
control+alt+n=AddAlias
control+alt+shift+u=UpdateProfile
alt+'=CloseTimeline
alt+control+u=refresh
alt+home=top_item
alt+end=bottom_item
alt+shift+return=PlayExternal
control+alt+shift+return=StopAudio
control+alt+shift+a=AudioPlayer
alt+delete=Delete
alt+o=Options
control+alt+o=AccountOptions
alt+shift+left=previous_from_user
alt+shift+right=next_from_user
alt+shift+up=previous_in_thread
alt+shift+down=next_in_thread
control+alt+shift+c=Copy
alt+a=AddToList
alt+shift+a=RemoveFromList
alt+control+l=Lists
alt+control+t=CustomTimelines
control+alt+f=FilterTimeline
alt+/=Search
alt+shift+/=UserSearch
control+alt+a=Accounts
alt+space=speak_item
alt+control+a=speak_account
control+alt+shift+o=PostUrl
alt+shift+e=Read
alt+shift+m=Mute
alt+l=FollowToggle
alt+shift+l=MuteToggle
alt+p=PinToggle
control+alt+m=ContextMenu
control+alt+v=ViewImage
control+alt+i=ViewInstance
